body {
	background: #FBFBF8;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding: 0;
	margin: 0;
	color: #333;
}

.black-background {
	background-color: #000;
	-webkit-transition: background-color 200ms ease 600ms;
	-moz-transition: background-color 200ms ease 600ms;
	-o-transition: background-color 200ms ease 600ms;
	-ms-transition: background-color 200ms ease 600ms;
	transition: background-color 200ms ease 600ms;
}

video {
	display: none;
}

html{

    background: url("../images/fondo.jpeg") #fff no-repeat center center fixed;
    max-height:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container {



}

#cuadro_camara {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 0;
}

.loading {
	display: none;
	position: absolute;
	font-size: 20px;
	text-align: center;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	top: 50%;
	margin-top: -40px;
}

.browsers,
.introduction {
	display: none;
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 20px;
	top: 50%;
	margin-top: -27px;
}

.browsers p,
.introduction p {
	margin: 0 0 0.1em 0;
	padding: 0;
}

.browsers a {
	color: #333;
}

#header {
	position: absolute;
	height: 55px;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: 2;
	color: #aaa;
	font-size: 20px;
}

.browsersWithVideo,
.instructions,
.allow {
	display: none;
	line-height: 55px;
	margin-left: 20px;
}

.browsersWithVideo {
	font-size: 15px;
}

.browsersWithVideo a {
	color: #AAA;
}

.backFromVideo {
	display: none;
	position: absolute;
	width: 100%;
	bottom: 64px;
	text-align: center;
	font-size: 14px;
}

.backFromVideo a {
	color: #333;
}

#footer {
	position: absolute;
	height: 55px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: 1;
}

#footer a {
	color: #aaa;
	text-decoration: underline;
}

#footer a:hover {
	color: #ccd56d;
	text-decoration: underline;
}

.magic {
	float: left;
	padding-left: 20px;
	font-size: 20px;
	color: #AAA;
	line-height: 55px;
}

#video-demo {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -320px;
	margin-top: -240px;
}

#canvas-source {
	width: 100%;
}

#canvas-source, #canvas-highlights {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}

#canvas-blended {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
}

#hotSpots {
	position: relative;
	display: none;
	height: 100%;
}

#hotSpots > * {
	position: absolute;
	-moz-transition: all 80ms linear;
	-webkit-transition: all 80ms linear;
	transition: all 80ms linear;
}

/* Feel free to change this or turn it off altogether*/
.active {
	background: rgba(255, 255, 255, 0.7);
	-moz-transition: all 150ms linear;
	-webkit-transition: all 150ms linear;
	transition: all 150ms linear;
}

/* Sample hotspots */
#one {
	width: 10%;
	height: 20%;
	top: 50%;
	left: 0;
	margin-top: -10%;
}

#another {
	width: 3%;
	height: 3%;
	top: 10%;
	left: 50%;
	margin-left: -3%;
}

.link {
	font-size: 22px;
	color: #fff;
	padding: .5%;
}

#pinata {
    background: transparent url(../images/pinata_stand.png) 0 0 no-repeat;
    position: absolute;
    top: 0px;
    left: 30%;
    width: 600px;
    height: 600px;
    z-index: 2000;
    /*cursor: pointer;*/
}
#pinata_mov {
    background: transparent url(../images/pinata_mov.png) 0 0 no-repeat;
    position: absolute;
    top: 0px;
    left: 30%;
    width: 600px;
    height: 600px;
    z-index: 2000;
    display: none;
    /*cursor: pointer;*/
}
#pinata_fin {
    background: transparent url(../images/fin.png) 0 0 no-repeat;
    position: absolute;
    top: 0px;
    left: 30%;
    width: 600px;
    height: 600px;
    z-index: 2000;
    display: none;
    /*cursor: pointer;*/
}
#golpe{
    background: transparent url(../images/pow.png) 0 0 no-repeat;
    position: absolute;
    top: 80px;
    left: 45%;
    width: 376px;
    height: 271px;
    z-index: 2000;
    display: none;
}